body {
    font-family: 'Open Sans', sans-serif;
}

.navbar,
.btn,
#produtos .nav-link.active,
#produtos .nav-link:hover {
    background-color: #1C93BF;
}

#produtos .nav-link {
    margin: 0 4px;
}

.nav-link,
.nav-link:hover,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

#section-sobre {
    background-color: #fff;
}


#produtos {
    background-color: #C5C3C2;
}

#fale-conosco {
    background-color: white;
}

#produtos img {
    height: 300px;
    width: 300px;
}

#produtos h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #2E2F31;
    letter-spacing: 1.5px;
    text-decoration: none solid rgb(46, 47, 49);
    vertical-align: baseline;
    line-height: 16.4786px;
}

#sobre p {
    font-style: italic;
}

.carousel-item img {
    width: 100%;
}

h3,
.social-links i {
    color: #2E2F31;
    font-weight: bold;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    #sobre h3 {
        margin-top: 8px;
    }

    #sobre p,
    #sobre h3,
    #sobre q {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 12px;
    }
    
}